@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
:root{
    --color-negro:#242526;
    --color-azul:rgb(52,209,191);
    --color-azul-oscuro:rgb(52,209,191);
    --color-azul-claro:rgb(187, 241, 235);
    --color-blanco:rgb(239,239,239);
}



body{
    font-family: 'Roboto', sans-serif;
    margin : 0 auto ;
}
main{
    min-height: 90vh;
}

/* main{
    align-items: center;
    display: flex;
    flex-direction: column;
} */

.darkmode{
    background-color: rgb(12, 43, 38);
    color: white;
}

.botones{
    text-decoration:none;  /*Esto sirve para quitar el subrayado que aparece cuando ponemos la etiqueta a */
    background-color: var(--color-azul);
    color:white;
    font-weight: bolder;
    width:10vw;
    height:10vh;    
    /* Para centrar el "Iniciar sesión" en el div bien?*/
    display: flex;
    align-items: center;
    justify-content: center;  
    font-size: 1vw;     
}

.botones p{
    font-size: 1vw;
    color:white;
}

.foto-perfil{
    height: 10vh;
    width: 10vh;
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;
    background-color: grey;
}

  /*----------------------------------------------------------
------------------------------------------------------------
                    CHAT 
------------------------------------------------------------
-----------------------------------------------------------*/
.chat{
    display: flex;
    justify-content: center;
    align-items: center;
}
.chat section{
    width: 60%;
}
.chat-container::-webkit-scrollbar {
	width: 5px;
}
.chat-container::-webkit-scrollbar-track {
	background: #f1f1f1;
}
.chat-container::-webkit-scrollbar-thumb {
	background: var(--color-azul);
}
.chat-container::-webkit-scrollbar-thumb:hover {
	background: #555;
}
.chat-header{
    min-height: 7vh;
    background-color: var(--color-negro);
    padding-top: 1rem;
}

.chat-container{
    background-image: url("logoSharevolume-04.png");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid;
    border-color: var(--color-azul);
    height: 70vh;
    overflow-y: scroll;
    display: flex;
    flex-direction: column-reverse;
}

.chat-text{
    min-height: 7vh;
    height: 70%;
    border: 1px solid;
    border-color: var(--color-azul);
    display: flex;
    align-items: center;
}

.chat-text input{
    width: 80%;
    border-radius: 20px;
    border: 1px solid;
    border-color: var(--color-azul);
    padding-left: 10px;
    margin: 0.4rem;
}

.chat-text button{
    width: 20%;
    height: 100%;
}
.receiver ,.sender{
    border: 1px solid;
    border-color: var(--color-azul);
    border-radius: 10px;
    padding: 0.5rem;
    margin: 0.2rem;
}

.receiver{
    background-color: rgb(230, 241, 245);
    align-self: flex-start;    
}

.sender{
    align-self: flex-end;
    background-color: white;
}

.chat-messages{
    display: flex;
    flex-direction: column;
}

  /*----------------------------------------------------------
------------------------------------------------------------
                    CHAT DETAILS
------------------------------------------------------------
-----------------------------------------------------------*/

.chat-details{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.details-card{
    border: 1px solid;
    border-color: var(--color-azul);
    border-radius: 10px;
    margin: 1rem;
    display: flex;
    padding: 0.5rem;
    height: 20vh;
    width: 50vw;
}

.details-img{
    
    width: 20%;
}

.details-img img{
    width: 100%;
    height: 100%;
}

.details-data{
    width: 80%;
    display: flex;
    padding-left: 1rem;
    align-items: center;
    justify-content: space-between;
}

.enlace-chat{
}

 /*----------------------------------------------------------
------------------------------------------------------------
                    COMENTARIOS 
------------------------------------------------------------
-----------------------------------------------------------*/
.comments{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%; 
}
.comments form{
    width: 100%; 
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.comments-form{
    display: flex;
    width: 80%;       
}

.comments-box{
    display: flex;
    flex-direction: column;
    width: 80%;
}

.comment-other ,.comment-you{
    width: 80%;
    border: 4px solid;
    border-radius: 10px;
    padding: 1rem;
    margin-bottom: 1rem;
}

.comment-other{
    align-self: center;
    border-color: var(--color-negro);
}

.comment-you{
    align-self: flex-end;   
    border-color: var(--color-azul);
}

.comment-header{
    display: flex;
    align-items: center;
    border-bottom: 2px solid;
    padding-bottom: 1rem;
}

.comment-nick{
    margin-left: 3rem;
}

.comment-body{
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.comment-text p{
    margin: 0;
}


 /*----------------------------------------------------------
------------------------------------------------------------
                    Perfil instrumento 
------------------------------------------------------------
-----------------------------------------------------------*/

.instrument_profile{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.datos_instrument_profile ,.images_instrument_profile{
    width: 80%;    
}

.data_instrument_profile{    
    display: flex;
    justify-content: center;
}

.etiqueta{
    border: 1px solid;
    border-color: var(--color-azul);
    border-radius: 14px;
    margin: 0.2rem;
}

.etiqueta i{
    font-size: 1rem;
}

.etiqueta p{
    margin: 0.5rem;
}

.enlacePerfil-chat{
    height: 100%;
}

.info_instrument_profile{
    display: flex;
}

.image_instrument_profile{
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image_instrument_profile img{
    max-width: 100%;
    max-height: 60vh;
}

.text_instrument_profile{
    width: 55%;
}

.text_instrument_profile ,.image_instrument_profile{
    padding: 1rem;
}

.data_instrument_profile , .price_instrument_profile, .stars_instrument_profile, .description_instrument_profile, .owner_instrument_profile{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5rem;
}

.price_instrument_profile{
    font-size: 3rem;
}
.price_instrument_profile p{
    margin: 0;
}

.stars_instrument_profile{
    font-size: 4rem;
}

.description_instrument_profile{
    border: 1px solid;
    border-color: var(--color-azul);
    border-radius: 10px;
    padding: 1rem;
}
.description_instrument_profile p{
    margin: 0;
}

.calendar-profile h3{
    text-align: center;
}


@media screen and (max-width: 700px) {    
    .info_instrument_profile{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .stars_instrument_profile {
        font-size: 7vh;
    }
    .image_instrument_profile ,.text_instrument_profile{
        width: 100%;

    }

    .comments{
        width: 100%;
        
    }
}

@media screen and (max-width: 530px) {    
    .react-datepicker__month-container{
        width: 100%;
    }
}

@media screen and (max-width: 340px) { 
    .comment-you{
        align-self: center;
        
    }
    .comment-nick {
        margin-left: 0.5rem;
    }
    .stars_instrument_profile {
        font-size: 6vh;
    }
}


@media screen and (max-width: 320px) { 
    .comment-you{
        align-self: center;
        
    }
    .comment-nick {
        margin-left: 0.5rem;
    }
    .stars_instrument_profile {
        font-size: 5vh;
    }
}

@media screen and (max-width: 255px) { 
    .stars_instrument_profile {
        font-size: 4vh;
    }

    .comments-box {
        width: 219px;
    }
}


 /*----------------------------------------------------------
------------------------------------------------------------
                    PROFILE 
------------------------------------------------------------
-----------------------------------------------------------*/
input, select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }


.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-sections ,.profile-edit{
    width: 80%;
}

.profile-sections{
    display: flex;
    margin-bottom: 3rem;
}

.profile-section{
    width: 33.33%;
    text-align: center;
}

.profile-section i{
    font-size: 4rem;
}

.profile-edit{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-edit form{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 1rem;
    
}

.profile-img-edit{

}

.profile-img-shw{
    display: flex;
    height: 35vh;
    justify-content: center;
}

.profile-img-shw img{
    height: 100%;
    
}

.profile-data-edit{
    width: 80%;
    border: 1px solid;
    border-color: var(--color-azul);
    border-radius: 10px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    
}

.form-group{
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
}

.form-group label{
    width: 25%;
    margin-bottom: 1rem;

}

.form-group input ,.form-group textarea{
    width: 75%;
    margin-bottom: 1rem;
}

  /*----------------------------------------------------------
------------------------------------------------------------
                    SUBIR INSTRUMENTO 
------------------------------------------------------------
-----------------------------------------------------------*/

.upload{
    display: flex;
    justify-content: center;
    align-items: center;
}


.upload form{
    width: 60%;
}

.upload-data{
    border: 1px solid;
    border-color: var(--color-azul);
    border-radius: 10px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.upload-data select{
    width: 75%;
}



@media screen and (max-width: 740px) { 
    .form-group {
        margin-bottom: 1rem;
        display: flex;
        flex-direction: column;
    }
    .form-group label ,.form-group input, .form-group textarea ,.upload-data select{
        width:100%;
    }

    .upload form {
        width: 80%;
    }
}

@media screen and (max-width: 230px) { 
    .upload form {
        width: 90%;
    }
}




  /*----------------------------------------------------------
------------------------------------------------------------
                    EDITAR INSTRUMENTO 
------------------------------------------------------------
-----------------------------------------------------------*/
.editar-instrumentos{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.edit-images-instrument{
    display: flex;
    width: 80%;
}

.edit-images-bottons{
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

.edit-images-bottons button{
    margin: 1rem;
}

.image_instrument_edit{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}
.image_instrument_edit img{
    max-width: 100%;
    max-height: 60vh;
}

.add-images{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-images h3{
    text-align: center;
}

.form-upload-images ,.edit-gallery{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-upload-images button ,.file-label, .file-images{
    margin-bottom: 1rem;
}

.file-images{
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.file-label{
    font-size: 1.25em;
    display: inline-block;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.file-label {
	cursor: pointer; /* "hand" cursor */
}

/* .file-label:focus {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
} */

.file-label i{
	font-size: 3rem; /* "hand" cursor */
}

.galeria-link{
    margin: 1rem;
}

.edit-gallery{
    border: 5px solid;
    border-color: var(--color-negro);
    border-radius: 10px;
    padding: 1rem;
}

.edit-gallery h4{
    text-align: center;
    margin: 0px;
}











/*----------------------------------------------------------
------------------------------------------------------------
                    HEADER 
------------------------------------------------------------
-----------------------------------------------------------*/




/*----------------------------------------------------------
------------------------------------------------------------
                    PÁGINA PRINCIPAL 
------------------------------------------------------------
-----------------------------------------------------------*/

.each-slide > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 90vh;
}
  
.each-slide span {
padding: 20px;
font-size: 20px;
background: #efefef;
text-align: center;
}

.publi1 ,.publi2 ,.publi3{
    width: 40%;
    background-color: rgb(36, 37, 38, 0.85);
    color: white;
    padding: 2rem;
}

/*----- Segundo cuadro ----*/

.tutorial{
    width: 80%;
    height: 100vh;
    margin: 0 auto;
}
.tutorial header{
    margin-top: 5vh;
    text-align:center;
    font-size: 4vh;
}

.tutorial section figure{
    margin: 0 auto;
    width: 27%; 
    height: 27%;
}

.tutorial section figure img{
    height: 100%;
    width: 100%;
}

.tutorial section a{
    margin: 0 auto;
    height: 11vh;
    width: 22vw;
    margin-top: 30px;
    font-size:2vw;
}



/*----- Tercer cuadro ----*/

.historia{
    width: 80%;
    height: 100vh;
    margin: 0 auto;
    border-color: var(--color-azul);
    border-top-width: 1px;
    border-top-style: solid;
    margin-bottom: 50px;
}

.historia p{
    width: 50%;
}

.historia header{
    margin-top: 5vh;
    text-align:center;
    font-size: 4vh;
}

.historia section{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;    
}

.historia section div{
    width: 50%;
    overflow: hidden;
    height: 90vh;;
}

.historia section p{
    width: 100%;
    font-size:3vh;
}

.historia section figure{
    height: 60%;
    width: 50%;
}
.historia section img{
    height: 100%;
    width: 100%;
}

/*----------------------------------------------------------
------------------------------------------------------------
                    INSTRUMENTS 
------------------------------------------------------------
-----------------------------------------------------------*/

.instruments > header{
    font-size: 1.6rem;
    text-align: center;
}

.instruments section{
    width: 80%;
    margin : 0 auto ;
}

.contenedorCuadros{     
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.visible{
    height: 300px;
    width: 300px;
    background-color: var(--color-azul);
    position: relative;
    margin: 1rem;
}

.contenedorCuadros img{
    height: 100%;
    width: 100%;
    display:block;        
}


/* Ventana oculta */

.descripcion {
    display:none;
    color: var(--color-blanco);
    background-color: rgba(0, 0, 0, 0.85);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    font-size: 0.7rem;
    word-wrap: break-word;
}

.descripcion h4{
    font-size: 1.5rem;
    margin: 0;
    text-align: center;
    padding: 1rem;
}

.card-back{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-back *{
    margin: 0.2rem;
}

.card-description{
    max-height: 65px
}

.card-rate{
    display: none;
}

.visible:hover .descripcion { 
    display:block; 
}

@media screen and (max-width: 335px) { 
    .visible {
        width: 200px;
        height: 200px;
    }
    .card-rate{
        display: block;
    }

    .card-rate-visual{
        display: none;
    }

    .card-description{
        display: none;
    }
}

@media screen and (max-width: 250px) { 
    .visible {
        width: 150px;
        height: 150px;
    }

}

@media screen and (max-width: 250px) { 
    .visible {
        width: 100px;
        height: 100px;
    }
    .descripcion p, .descripcion div, .descripcion h2{
        display: none;
    }

    .descripcion .card-link-chat{
        display: block;
    }
}

/*----------------------------------------------------------
------------------------------------------------------------
                    LOGIN 
------------------------------------------------------------
-----------------------------------------------------------*/


/* .inputLogin{
    height: 9vh;
    padding: 1rem;
    margin-bottom: 1.5rem;
    border: 2px solid;
    border-color: var(--color-azul);
} */

.loginTitle{
    font-size: 2.3rem;
    text-align: center;    
}
.logBox{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.registrate, .iniciaSesion, .logReg{
    width: 40%;
}
.registrate, .iniciaSesion{
    text-align: center;
    border-radius: 15px;
    border: 6px;
    border-style: solid;
}
.logReg{
    display: flex;
    justify-content: center;
}

.log_button{
    background-color: var(--color-negro);
    color: var(--color-azul);
}

.reg_button{
    background-color: var(--color-azul);
    color: var(--color-negro);
}

.log_button, .reg_button{
    width: 15vw;
    height: 8vh;
    border: none;
}


/* INICIAR SESIÓN */

.iniciaSesion{
    border-color: var(--color-negro);
}

.loginContent, .registerContent{
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
}

/* REGISTRARSE */
.registrate{
    border-color: var(--color-azul);
}




/*----------------------------------------------------------
------------------------------------------------------------
                    FOOTER 
------------------------------------------------------------
-----------------------------------------------------------*/

.menuFinal{
    display: flex; 
    background-color: var(--color-negro);
    justify-content: space-between;
    width: 100%;
}
.menuFinal .contenedor{
    margin : 0 auto ;
    display: flex; 
    justify-content: space-between; 
    height: 10vh; 
    width: 80%;   
}

.iconos-footer{
    display: flex;
    justify-content: space-evenly; 
    align-items: center;
    width: 20%;
}

.iconos-footer i{
    font-size:5vh;
    color: var(--color-azul); 
}

.links-footer{
    background-color: var(--color-negro);
    width: 80%;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    
}
.links-footer a{
    text-decoration:none;
    color:white;
    font-weight: bolder;
}

.responsive{
    display: none;
    height: 15vh;
    background-color: var(--color-negro);
}

.responsive .iconos-footer{
    width: 80%;
    margin-top: 10px;
}
.responsive .links-footer{
    width: 80%;
    margin-top: 10px;
}

/*----------------------------------------------------------
------------------------------------------------------------
                    RESERVAS 
------------------------------------------------------------
-----------------------------------------------------------*/

.book ,.book-data{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.book-data{
    display: flex;
}

.book-select{
    width: 60%;
    margin: 1rem;
}

.react-datepicker {
    
    margin: 1rem;
}


/*----------------------------------------------------------
------------------------------------------------------------
                    RESPONSIVE 
------------------------------------------------------------
-----------------------------------------------------------*/

@media screen and (max-width: 800px) {
	.login {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .login header{
        font-size: 3vw;
        margin-top: 5vh;
        margin-bottom: 5vh;
        text-align: center;
    }

    /* .registrate footer{
        display: flex;
        flex-wrap: wrap-reverse;
    } */
    .registrate p{
        font-size: 3vw;            
    }  

    
}

/* Menu arriba */

@media screen and (max-width: 500px) {
    .menu div .menuResponsive{
        display: block;
    }  
    .menu div .menuResponsive i{
        display: block;
        font-size: 10vh;
    } 
	.menu .shareVolume{
        display: none;
    }
    .contenedor div{
        display: none;
    }
    /* .menu div .iconos-menu{
        display: block;
    } */
}

/* Menu Final*/

@media screen and (max-width: 500px) {  
    
    .menuFinal{
        display: none;
    }	
    .responsive{
        display:block;
    }
}

@media screen and (max-width: 500px) {   
    .historia section{
        display: flex;
        flex-wrap: wrap-reverse;
        justify-content: space-between;
    }   
    .historia section div{
        width: 100%;
        height: 50vh;
        overflow: hidden;
    }
    .historia section figure{
        margin:0 auto;
        height: 60%;
        width: 50%;
    }
}

@media screen and (max-width: 770px){   
    .aplicacion .contenedorCuadros div{
        margin:0 auto;
        margin-bottom: 20px;
    }
}



/* galeria */


.gallery-container {
    padding-top: .9375rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 10vh;
    margin-right: 10vh;
}

.gallery-card {
    position: relative;
    overflow: hidden;
    margin-bottom: 1.875rem;
    width: 300px; 
    height: 300px;
    background-color: var(--color-blanco);
    margin: 2rem;
}

.gallery-thumbnail {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 100%;
    height: auto;
    border-radius: 4px;
}

.modal-img{
    width: 100%;
    height: 100%;
}

#gallery-close{
    position: absolute;
    top: 0;
    right: 8px;
    font-size: 1.5rem;
    color: #111;
    transition: all .25s ease-in-out;
}


/* nav */
.logo-header{
    height: 10vh;
}
.shareVolume{
    color:var(--color-azul);
    font-weight: bolder;
}
.login-button{
    background-color: var(--color-negro);
    /* text-align: center; */
    padding: 12px 14px;
    height: 75%;
    color: var(--color-azul);
    border: 2px;
    border-radius: 25px;
    border-color: var(--color-azul);
    border-style: dashed;
    cursor: pointer;
    text-decoration: none;
}

.login-button i {
    font-size: 1rem;
    padding-right: 0.6rem;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

.navbar{
    height: 10vh;
    background-color: #242526;
    padding: 0 1rem;
    border-bottom: 1px solid #474a4d;
}

.navbar-nav{
    max-width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
}

.nav-item {
    display: flex;
    align-items: center;
    justify-content: center;
  }

.dropdown-button{

}

.dropdown {
    z-index: 10;
    position: absolute;
    top: 58px;
    width: 300px;
    transform: translateX(-45%);
    background-color: #242526;
    border: 1px solid #474a4d;
    border-radius: 8px;
    padding: 1rem;
    overflow: hidden;
    transition: height 500ms ease;
}


.nav-item-icon{
    display: none;
}

.navbar-nav2-responsive{
    max-width: 100%;
    height: 10vh;
    display: flex;
    /* justify-content: space-between; */
    
}

.navbar-nav2{
    max-width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;

}

@media screen and (max-width: 300px) {
    .nav-item{
        display:none;
    }
    .nav-item-icon {
        display: block;
    }
    .navbar-nav2-responsive .nav-item{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        background-color: var(--color-negro);
    }

    .navbar-nav2-responsive{
        max-width: 100%; 
        position: absolute;
        top: 10vh;
        left: 0;
        height: 100%;
        display: flex;
        flex-direction: column;
        z-index: 11;
        width: 100%;
        
    }

    .dropdown{
        z-index: 10;
        position: static;
        /* top: 58px; */
        /* width: 300px; */
        transform: none; 
        background-color: #242526;
        border: 1px solid #474a4d;
        border-radius: 8px;
        padding: 1rem;
        overflow: hidden;
        transition: none;
    }
    .dropdown-button {
        display: none;
    }
}

i{
    font-size: 1.7rem;
}
* {
box-sizing: border-box;
}

.search, .search.open{
    display: flex;
    align-items: center;
}
  
  
.search {
height: 80%;
background-color: var(--color-negro);
position: relative;
overflow: hidden;
transition: all 0.5s ease;
}
  
  
.search-box {
border-radius: 20px;
width: 75%;
height: 65%;
box-shadow: none;
border: none;
padding-left: 10px;
}
.search-box:focus {
outline: none;
}
  

.busqueda{
    display: flex;
    justify-content: center;
    align-items: center;
}

.busqueda i ,.busqueda input{
    margin: 0.5rem;
}

main{
    background-color: z;
}




/* /////////////
Menu responsive
///////////// */

