@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
:root{
    --color-negro:#242526;
    --color-azul:rgb(52,209,191);
    --color-azul-oscuro:rgb(52,209,191);
    --color-azul-claro:rgb(187, 241, 235);
    --color-blanco:rgb(239,239,239);
}



body{
    font-family: 'Roboto', sans-serif;
    margin : 0 auto ;
}
main{
    min-height: 90vh;
}

/* main{
    align-items: center;
    display: flex;
    flex-direction: column;
} */

.darkmode{
    background-color: rgb(12, 43, 38);
    color: white;
}

.botones{
    text-decoration:none;  /*Esto sirve para quitar el subrayado que aparece cuando ponemos la etiqueta a */
    background-color: var(--color-azul);
    color:white;
    font-weight: bolder;
    width:10vw;
    height:10vh;    
    /* Para centrar el "Iniciar sesión" en el div bien?*/
    display: flex;
    align-items: center;
    justify-content: center;  
    font-size: 1vw;     
}

.botones p{
    font-size: 1vw;
    color:white;
}

.foto-perfil{
    height: 10vh;
    width: 10vh;
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;
    background-color: grey;
}

  /*----------------------------------------------------------
------------------------------------------------------------
                    CHAT 
------------------------------------------------------------
-----------------------------------------------------------*/
.chat{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.chat-container::-webkit-scrollbar {
	width: 5px;
}
.chat-container::-webkit-scrollbar-track {
	background: #f1f1f1;
}
.chat-container::-webkit-scrollbar-thumb {
	background: var(--color-azul);
}
.chat-container::-webkit-scrollbar-thumb:hover {
	background: #555;
}
.chat-header{
    min-height: 7vh;
    background-color: var(--color-negro);
    width: 60%;
    padding-top: 1rem;
}

.chat-container{
    /* background-image: url("/assets/img/logoSharevolume-04.png"); */
    background-image: url("logoSharevolume-04.png");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid;
    border-color: var(--color-azul);
    height: 70vh;
    width: 60%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column-reverse;
}

.chat-text{
    width: 60%;
    min-height: 7vh;
    height: 70%;
    border: 1px solid;
    border-color: var(--color-azul);
    display: flex;
    align-items: center;
}

.chat-text input{
    width: 80%;
    border-radius: 20px;
    border: 1px solid;
    border-color: var(--color-azul);
    padding-left: 10px;
    margin: 0.4rem;
}

.chat-text button{
    width: 20%;
    height: 100%;
}
.receiver ,.sender{
    border: 1px solid;
    border-color: var(--color-azul);
    border-radius: 10px;
    padding: 0.5rem;
    margin: 0.2rem;
}

.receiver{
    background-color: rgb(230, 241, 245);
    align-self: flex-start;
    
}

.sender{
    align-self: flex-end;
    background-color: white;
}

.chat-messages{
    display: flex;
    flex-direction: column;

}

 /*----------------------------------------------------------
------------------------------------------------------------
                    Perfil instrumento 
------------------------------------------------------------
-----------------------------------------------------------*/
/* General */
.instrument_profile ,.comments{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.datos_instrument_profile ,.comments ,.images_instrument_profile{
    width: 80%;    
}

.data_instrument_profile{
    
    display: flex;
    justify-content: center;
}

.etiqueta{
    border: 1px solid;
    border-color: var(--color-azul);
    border-radius: 14px;
}

.etiqueta i{
    font-size: 1rem;
}

.etiqueta p{
    margin: 0.5rem;
}

.enlacePerfil-chat{
    height: 100%;
}

/* info instrumento */

.info_instrument_profile{
    display: flex;
    /* flex-direction: column; */
}

.image_instrument_profile{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image_instrument_profile img{
    max-width: 100%;
    max-height: 60vh;
}

.text_instrument_profile{
    width: 50%;
}

.text_instrument_profile ,.image_instrument_profile{
    padding: 1rem;
}

.data_instrument_profile , .price_instrument_profile, .stars_instrument_profile, .description_instrument_profile, .owner_instrument_profile{
    display: flex;
    justify-content: center;
    align-items: center;
}

.price_instrument_profile{
    font-size: 3rem;
}
.price_instrument_profile p{
    margin: 0;
}

.stars_instrument_profile{
    font-size: 4rem;
}

.description_instrument_profile{
    border: 1px solid;
    border-color: var(--color-azul);
    border-radius: 10px;
    padding: 1rem;
}
.description_instrument_profile p{
    margin: 0;
}

/* imagenes instrumento */

.images_instrument_profile{
    display: flex;
    justify-content: center;
}

.instrument_images{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    border-color: var(--color-azul);
    border-radius: 10px;
    background-color: var(--color-negro);
}

.box-img{
    height: 120px;
    width: 120px;
    padding: 0.5rem;

}
.box-img img, .box-link{
    height: 100%;
    width: 100%;
}

.box-link{
    background-color: var(--color-azul);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* comentarios instrumento */


.comments-box{
    display: flex;
    flex-direction: column;
}

.comment_other ,.comment_you{
    width: 67%;
    border: 1px solid;
    margin-bottom: 1rem;
}

.comment_other{
    align-self: flex-start;
    border-color: var(--color-negro);
    

}


.comment_you{
    align-self: flex-end;   
    border-color: var(--color-azul); 

}

 /*----------------------------------------------------------
------------------------------------------------------------
                    PROFILE 
------------------------------------------------------------
-----------------------------------------------------------*/
.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-sections ,.profile-edit{
    width: 80%;
}

.profile-sections{
    display: flex;
}

.profile-section{
    width: 33.33%;
    text-align: center;
}

.profile-section i{
    font-size: 4rem;
}

.profile-edit{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-img-edit{

}

.profile-img-shw{
    display: flex;
    height: 35vh;
    justify-content: center;
}

.profile-img-shw img{
    height: 100%;
    
}




  /*----------------------------------------------------------
------------------------------------------------------------
                    EDITAR INSTRUMENTO 
------------------------------------------------------------
-----------------------------------------------------------*/
.editar-instrumentos{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.edit-images-instrument , .editar-instrumentos .datos_instrument_profile{
    display: flex;
    width: 80%;
}

.image_instrument_edit{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}
.image_instrument_edit img{
    max-width: 100%;
    max-height: 60vh;
}

.add-images{
    width: 50%;
}

.form-upload-images ,.edit-gallery{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.file-images{
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.file-label{
    font-size: 1.25em;
    display: inline-block;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.file-label {
	cursor: pointer; /* "hand" cursor */
}

/* .file-label:focus {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
} */

.file-label i{
	font-size: 3rem; /* "hand" cursor */
}











/*----------------------------------------------------------
------------------------------------------------------------
                    HEADER 
------------------------------------------------------------
-----------------------------------------------------------*/




/*----------------------------------------------------------
------------------------------------------------------------
                    PÁGINA PRINCIPAL 
------------------------------------------------------------
-----------------------------------------------------------*/

.each-slide > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 90vh;
}
  
.each-slide span {
padding: 20px;
font-size: 20px;
background: #efefef;
text-align: center;
}

.publi1 ,.publi2 ,.publi3{
    width: 40%;
    background-color: rgb(36, 37, 38, 0.85);
    color: white;
    padding: 2rem;
}

/*----- Segundo cuadro ----*/

.tutorial{
    width: 80%;
    height: 100vh;
    margin: 0 auto;
}
.tutorial header{
    margin-top: 5vh;
    text-align:center;
    font-size: 4vh;
}

.tutorial section figure{
    margin: 0 auto;
    width: 27%; 
    height: 27%;
}

.tutorial section figure img{
    height: 100%;
    width: 100%;
}

.tutorial section a{
    margin: 0 auto;
    height: 11vh;
    width: 22vw;
    margin-top: 30px;
    font-size:2vw;
}



/*----- Tercer cuadro ----*/

.historia{
    width: 80%;
    height: 100vh;
    margin: 0 auto;
    border-color: var(--color-azul);
    border-top-width: 1px;
    border-top-style: solid;
    margin-bottom: 50px;
}

.historia p{
    width: 50%;
}

.historia header{
    margin-top: 5vh;
    text-align:center;
    font-size: 4vh;
}

.historia section{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;    
}

.historia section div{
    width: 50%;
    overflow: hidden;
    height: 90vh;;
}

.historia section p{
    width: 100%;
    font-size:3vh;
}

.historia section figure{
    height: 60%;
    width: 50%;
}
.historia section img{
    height: 100%;
    width: 100%;
}

/*----------------------------------------------------------
------------------------------------------------------------
                    INSTRUMENTS 
------------------------------------------------------------
-----------------------------------------------------------*/

.instruments > header{
    font-size: 1.6rem;
    text-align: center;
}

.instruments section{
    width: 80%;
    margin : 0 auto ;
}

.instruments .contenedorCuadros{     
    display: flex;
    flex-wrap: wrap;
    /* align-content: space-between; */
    /* justify-content: space-between; */
    /* margin: 1rem; */
    justify-content: center;
}



.instruments .contenedorCuadros .visible{
    height: 50vh;
    width: 50vh;
    background-color: var(--color-azul);
    position: relative;
    /* margin-bottom: 55px; */
    margin: 1rem;
}

.instruments .contenedorCuadros div img{
    height: 100%;
    width: 100%;
    display:block;        
}

.instruments section .botones{
    margin : 0 auto ;
    margin-bottom: 5vh;
}


/* Ventana oculta */

.instruments .contenedorCuadros .descripcion {
    display:none;
    color: var(--color-blanco);
    background-color: rgba(0, 0, 0, 0.85);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    font-size: 0.7rem;
    word-wrap: break-word;
}

.descripcion header, i{
    color: var(--color-azul); 
}

.descripcion header{
    font-size: 1.5rem; 
    margin-left: 10px;
    margin-top: -20px;
}
.descripcion i{
    font-size: 1.8rem; 
}

.descripcion h1, h1+p , .estrellas{
    text-align: center;
    color:var(--color-blanco);
    font-weight: bolder;

}

.visible:hover .descripcion { 
    display:block; 
}

/*----------------------------------------------------------
------------------------------------------------------------
                    LOGIN 
------------------------------------------------------------
-----------------------------------------------------------*/


.inputLogin{
    height: 9vh;
    padding: 1rem;
    margin-bottom: 1.5rem;
    border: 2px solid;
    border-color: var(--color-azul);
}

.loginTitle{
    font-size: 2.3rem;
    text-align: center;    
}
.logBox{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.registrate, .iniciaSesion, .logReg{
    width: 40%;
}
.registrate, .iniciaSesion{
    text-align: center;
    border-radius: 15px;
    border: 6px;
    border-style: solid;
}
.logReg{
    display: flex;
    justify-content: center;
}

.log_button{
    background-color: var(--color-negro);
    color: var(--color-azul);
}

.reg_button{
    background-color: var(--color-azul);
    color: var(--color-negro);
}

.log_button, .reg_button{
    width: 15vw;
    height: 8vh;
    border: none;
}


/* INICIAR SESIÓN */

.iniciaSesion{
    border-color: var(--color-negro);
}

.loginContent, .registerContent{
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
}

/* REGISTRARSE */
.registrate{
    border-color: var(--color-azul);
}




/*----------------------------------------------------------
------------------------------------------------------------
                    FOOTER 
------------------------------------------------------------
-----------------------------------------------------------*/

.menuFinal{
    display: flex; 
    background-color: var(--color-negro);
    justify-content: space-between;
    width: 100%;
}
.menuFinal .contenedor{
    margin : 0 auto ;
    display: flex; 
    justify-content: space-between; 
    height: 10vh; 
    width: 80%;   
}

.iconos-footer{
    display: flex;
    justify-content: space-evenly; 
    align-items: center;
    width: 20%;
}

.iconos-footer i{
    font-size:5vh;
    color: var(--color-azul); 
}

.links-footer{
    background-color: var(--color-negro);
    width: 80%;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    
}
.links-footer a{
    text-decoration:none;
    color:white;
    font-weight: bolder;
}

.responsive{
    display: none;
    height: 15vh;
    background-color: var(--color-negro);
}

.responsive .iconos-footer{
    width: 80%;
    margin-top: 10px;
}
.responsive .links-footer{
    width: 80%;
    margin-top: 10px;
}


/*----------------------------------------------------------
------------------------------------------------------------
                    RESPONSIVE 
------------------------------------------------------------
-----------------------------------------------------------*/

@media screen and (max-width: 800px) {
	.login {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .login header{
        font-size: 3vw;
        margin-top: 5vh;
        margin-bottom: 5vh;
        text-align: center;
    }

    /* .registrate footer{
        display: flex;
        flex-wrap: wrap-reverse;
    } */
    .registrate p{
        font-size: 3vw;            
    }  

    
}

/* Menu arriba */

@media screen and (max-width: 500px) {
    .menu div .menuResponsive{
        display: block;
    }  
    .menu div .menuResponsive i{
        display: block;
        font-size: 10vh;
    } 
	.menu .shareVolume{
        display: none;
    }
    .contenedor div{
        display: none;
    }
    /* .menu div .iconos-menu{
        display: block;
    } */
}

/* Menu Final*/

@media screen and (max-width: 500px) {  
    
    .menuFinal{
        display: none;
    }	
    .responsive{
        display:block;
    }
}

@media screen and (max-width: 500px) {   
    .historia section{
        display: flex;
        flex-wrap: wrap-reverse;
        justify-content: space-between;
    }   
    .historia section div{
        width: 100%;
        height: 50vh;
        overflow: hidden;
    }
    .historia section figure{
        margin:0 auto;
        height: 60%;
        width: 50%;
    }
}

@media screen and (max-width: 770px){   
    .aplicacion .contenedorCuadros div{
        margin:0 auto;
        margin-bottom: 20px;
    }
}



/* galeria */

.gallery-card {
    position: relative;
    overflow: hidden;
    margin-bottom: 1.875rem;
    width: 30vw; 
    height: 30vh;
}

.gallery-thumbnail {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
}

.gallery-container {
    padding-top: .9375rem;
    display: flex;
    flex-wrap: wrap;
}

.prueba4{
    width: 100%;
    height: 100%;
}

#prueba5{
    position: absolute;
    top: 0;
    right: 8px;
    font-size: 1.5rem;
    color: #111;
    transition: all .25s ease-in-out;
}


/* nav */
.logo-header{
    height: 10vh;
}
.shareVolume{
    color:var(--color-azul);
    font-weight: bolder;
}
.login-button{
    background-color: var(--color-negro);
    /* text-align: center; */
    padding: 12px 14px;
    height: 75%;
    color: var(--color-azul);
    border: 2px;
    border-radius: 25px;
    border-color: var(--color-azul);
    border-style: dashed;
    cursor: pointer;
    text-decoration: none;
}

.login-button i {
    font-size: 1rem;
    padding-right: 0.6rem;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

.navbar{
    height: 10vh;
    background-color: #242526;
    padding: 0 1rem;
    border-bottom: 1px solid #474a4d;
}

.navbar-nav{
    max-width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
}

.nav-item {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .dropdown-button{

  }

  .dropdown {
    z-index: 10;
    position: absolute;
    top: 58px;
    width: 300px;
    transform: translateX(-45%);
    background-color: #242526;
    border: 1px solid #474a4d;
    border-radius: 8px;
    padding: 1rem;
    overflow: hidden;
    transition: height 500ms ease;
  }

  .menu-item {
    height: 50px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    transition: background 500ms;
    padding: 0.5rem;
  }

  .menu-item:hover {
    background-color: #525357;
  }



i{
    font-size: 1.7rem;
}

  



  * {
    box-sizing: border-box;
  }

  .search, .search.open{
      display: flex;
      align-items: center;
  }
  
  
  .search {
    /* width: 100px; */
    height: 80%;
    background-color: var(--color-negro);
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease;
  }
  .search:before {
    content: "";
    display: block;
    width: 3px;
    height: 65%;
    position: relative;
    background-color: var(--color-azul);
    transition: all 0.5s ease;
  }
  .search.open {
    /* width: 420px; */
  }
  .search.open:before {
    height: 65%;
    position: absolute;
  }
  
  .search-box {
    border-radius: 20px;
    width: 75%;
    height: 65%;
    box-shadow: none;
    border: none;
    padding-left: 10px;
  }
  .search-box:focus {
    outline: none;
  }
  
  .search-button {
    /* width: 100px;
    display: block;
    position: absolute;
    right: 0; */
    cursor: pointer;
  }
  
  .search-icon {
    width: 20px;
    height: 20px;
    border-radius: 40px;
    border: 3px solid var(--color-azul);
    display: block;
    position: relative;
    margin-left: 5px;
    transition: all 0.5s ease;
    margin-bottom: 0.5rem;
  }
  .search-icon:before {
    content: "";
    width: 3px;
    height: 5px;
    position: absolute;
    right: -2px;
    top: 14px;
    display: block;
    background-color: var(--color-azul);
    transform: rotate(-45deg);
    transition: all 0.5s ease;
  }
  .search-icon:after {
    content: "";
    width: 3px;
    height: 5px;
    position: absolute;
    right: -5px;
    top: 17px;
    display: block;
    background-color: var(--color-azul);
    transform: rotate(-45deg);
    transition: all 0.5s ease;
  }
  .open .search-icon {
    margin: 0;
    width: 30px;
    height: 30px;
    border-radius: 60px;
  }
  .open .search-icon:before {
    transform: rotate(52deg);
    right: 11px;
    top: 10px;
    height: 9px;
  }
  .open .search-icon:after {
    transform: rotate(-230deg);
    right: 11px;
    top: 5px;
    height: 9px;
  }

.busqueda{
    display: flex;
    justify-content: center;
    align-items: center;
}

.busqueda i ,.busqueda input{
    margin: 1rem;
}